/* ----------------------------------------------------------------
	Custom CSS

	Add all your Custom Styled CSS here for New Styles or
	Overwriting Default Theme Styles for Better Hanlding Updates
-----------------------------------------------------------------*/
body {
    line-height: 1.5;
    color: #555;
    font-family: 'Lato', sans-serif;
    text-align: justify-all;
}


h1{
    font-family: 'Anton', sans-serif;
    margin-left: 20px;

}

h2{
    margin-left: 20px;
}

p{
    text-align: justify;
    font-size: 20px;
}

h3{
    text-align:center;
}


.presentation{

    margin: 60px;
}


.entete{

    text-align: center;

}


a {
    text-decoration: none !important;
    color: #1ABC9C;
}



a:hover { color: #222; }

.question{
    font-family: 'Baloo Bhaina', cursive;
    font-size: 40px;
    color: black;
}

.premier-block{
    padding-top:  20px;
}

/* ----------------------------------------------------------------
	Header
-----------------------------------------------------------------*/
#header-wrap, #header ul{
    border: none!important;
}
#header #logo{
    margin-top: 5px!important;
    border: none!important;
}
#primary-menu-trigger{
    font-size: 20px;
    right:0px!important;
    left: inherit;
}
#primary-menu ul li:hover > a{
    color: #000;
    font-weight: 600;
}
#primary-menu ul li a{
    font-weight: normal;
}

/* ----------------------------------------------------------------
	Slider
-----------------------------------------------------------------*/

.slider-caption h2{
    text-transform: none;
}
.slider-caption{
    top: 30%!important;
}
.slider-caption .button{
    display: inline-block!important;
}


/*-----------------------------------------------------------------
    Contactez nous
 -----------------------------------------------------------------*/

/*#slider
{
   /* height:800px;
}*/

#slider.full-screen {
    position:static;
}

.col-xs-12.col-md-7.col-sm-6.full-screen.center.nopadding {
    background :transparent url('../images/image_contact.jpg') no-repeat scroll center center / cover;
    height:800px;
}

.col-xs-12.col-md-5.col-sm-6.full-screen {
    background-color: rgb(245, 245, 245);
    height: 800px;
}

.vertical-middle.subscribe-widget {
    position:absolute;
    top:2%;
    width:100%
}

.col-padding {
    padding:60px;
}

@media screen and (max-width: 760px) {
    .col-xs-12.col-md-7.col-sm-6.full-screen.center.nopadding {
        background :transparent url('../images/image_contact.jpg') no-repeat scroll center center / cover;
        height:200px;
    }
}

/*FOOTER*/

#footer .footer-widgets-wrap {
    position: relative;
    padding: 32px 0;
}