/* ----------------------------------------------------------------
	Custom CSS

	Add all your Custom Styled CSS here for New Styles or
	Overwriting Default Theme Styles for Better Hanlding Updates
-----------------------------------------------------------------*/

/* ----------------------------------------------------------------
	Header
-----------------------------------------------------------------*/

#header #logo{
    margin-top: 5px!important;
}
#primary-menu-trigger{
    font-size: 20px;
    right:0px!important;
    left: inherit;
}
#primary-menu ul li:hover > a{
    color: #000;
    font-weight: 600;
}
.slider-caption h2{
    text-transform: none;
}