{% extends 'layout.html.twig' %}
{% block title %}liste artistes{{ parent() }}{% endblock %}

{% block content %}
    <div class="container clearfix list_artist">

        <div class="fancy-title title-border">
            <h3>ARTISTES</h3>
        </div>


        <div class="panel panel-default">
            <div class="panel-body">
                <form id="template-contactform" class="">

                    <div class="col-xs-6 col-md-2 col-sm-6">
                        <label>100% LAKLAK:</label>
                        <input class="bt-switch" type="checkbox" checked data-size="mini">
                    </div>

                    <div class="col-xs-6 col-md-3 col-sm-6 height-line pull-left">
                        <button class="button button-small button-border button-rounded tright nomargin" type="submit" id="template-contactform-submit"
                                name="template-contactform-submit" value="submit">Filtrer
                        </button>
                    </div>
                </form>
            </div>
        </div>



        <div class="col-sm-6 col-md-3 thumbnail bottommargin">
            <div class="feature media-box">
                <div class="fbox-media">
                    <div class="image_list_artist" style="background-image:url('images/photoartistes/2016/meryem.jpg')">
                        <img class="img_list_artist" src="images/photoartistes/2016/meryem.jpg" alt="meryem"/>
                        <a href="artiste.php"></a>
                    </div>
                    <div class="i-overlay on-hover">
                        <a href="artiste.php">
                            <i class ="icon-line-plus"></i>
                        </a>
                        <h3 class="nom_list_artiste">MERYEM</h3>
                    </div>
                </div>
                <div class="fbox-desc">
                    <img class="list_label_laklak" src="images/Laklak/logo.jpg" alt=""/>
                </div>
            </div>
        </div>

        <div class="col-sm-6 col-md-3 thumbnail bottommargin">
            <div class="feature media-box">
                <div class="fbox-media">
                    <div class="image_list_artist" style="background-image:url('images/photoartistes/2015/paraone.jpg')">
                        <img class="img_list_artist" src="images/photoartistes/2015/paraone.jpg" alt="meryem"/>
                        <a href="artiste.php"></a>
                    </div>
                    <div class="i-overlay on-hover">
                        <a href="artiste.php">
                            <i class ="icon-line-plus"></i>
                        </a>
                        <h3 class="nom_list_artiste">PARAONE</h3>
                    </div>
                </div>
                <div class="fbox-desc">
                    <img class="list_label_laklak" src="" alt=""/>
                </div>
            </div>
        </div>

        <div class="col-sm-6 col-md-3 thumbnail bottommargin">
            <div class="feature media-box">
                <div class="fbox-media">
                    <div class="image_list_artist" style="background-image:url('images/photoartistes/2016/ayoub.jpg')">
                        <img class="img_list_artist" src="images/photoartistes/2016/ayoub.jpg" alt="ayoub"/>
                        <a href="artiste.php"></a>
                    </div>
                    <div class="i-overlay on-hover">
                        <a href="artiste.php">
                            <i class ="icon-line-plus"></i>
                        </a>
                        <h3 class="nom_list_artiste">AYOUB</h3>
                    </div>
                </div>
                <div class="fbox-desc">
                    <img class="list_label_laklak" src="" alt=""/>
                </div>
            </div>
        </div>

        <div class="col-sm-6 col-md-3 thumbnail bottommargin">
            <div class="feature media-box">
                <div class="fbox-media">
                    <div class="image_list_artist" style="background-image:url('images/photoartistes/2016/meryem.jpg')">
                        <img class="img_list_artist" src="images/photoartistes/2016/meryem.jpg" alt="meryem"/>
                        <a href="artiste.php"></a>
                    </div>
                    <div class="i-overlay on-hover">
                        <a href="artiste.php">
                            <i class ="icon-line-plus"></i>
                        </a>
                        <h3 class="nom_list_artiste">MERYEM</h3>
                    </div>
                </div>
                <div class="fbox-desc">
                    <img class="list_label_laklak" src="images/Laklak/logo.jpg" alt=""/>
                </div>
            </div>
        </div>

        <div class="col-sm-6 col-md-3 thumbnail bottommargin">
            <div class="feature media-box">
                <div class="fbox-media">
                    <div class="image_list_artist" style="background-image:url('images/photoartistes/2016/habibifunk.jpg')">
                        <img class="img_list_artist" src="images/photoartistes/2016/habibifunkjpg" alt="meryem2"/>
                        <a href="artiste.php"></a>
                    </div>
                    <div class="i-overlay on-hover">
                        <a href="artiste.php">
                            <i class ="icon-line-plus"></i>
                        </a>
                        <h3 class="nom_list_artiste">HABIBIFUNK</h3>
                    </div>
                </div>
                <div class="fbox-desc">
                    <img class="list_label_laklak" src="" alt=""/>
                </div>
            </div>
        </div>

        <div class="col-sm-6 col-md-3 thumbnail bottommargin">
            <div class="feature media-box">
                <div class="fbox-media">
                    <div class="image_list_artist" style="background-image:url('images/photoartistes/2016/meryem.jpg')">
                        <img class="img_list_artist" src="images/photoartistes/2016/meryem.jpg" alt="meryem"/>
                        <a href="artiste.php"></a>
                    </div>
                    <div class="i-overlay on-hover">
                        <a href="artiste.php">
                            <i class ="icon-line-plus"></i>
                        </a>
                        <h3 class="nom_list_artiste">MERYEM</h3>
                    </div>
                </div>
                <div class="fbox-desc">
                    <img class="list_label_laklak" src="images/Laklak/logo.jpg" alt=""/>
                </div>
            </div>
        </div>

        <div class="col-sm-6 col-md-3 thumbnail bottommargin">
            <div class="feature media-box">
                <div class="fbox-media">
                    <div class="image_list_artist" style="background-image:url('images/photoartistes/2016/meryem.jpg')">
                        <img class="img_list_artist" src="images/photoartistes/2016/meryem.jpg" alt="meryem"/>
                        <a href="artiste.php"></a>
                    </div>
                    <div class="i-overlay on-hover">
                        <a href="artiste.php">
                            <i class ="icon-line-plus"></i>
                        </a>
                        <h3 class="nom_list_artiste">MERYEM</h3>
                    </div>
                </div>
                <div class="fbox-desc">
                    <img class="list_label_laklak" src="images/Laklak/logo.jpg" alt=""/>
                </div>
            </div>
        </div>





    </div>

    </div>

{% endblock %}

























{% endblock %}