{% extends 'layout.html.twig' %}
{% block title %}Presentation{{ parent() }}{% endblock %}

{% block content %}

    <div class="presentation espace">
        <div class="row">
            <div class="col-xs-12">
                <section id="slider" class="clearfix">
                    <div class="section parallax swiper_wrapper nopadding nomargin noborder ohidden" style="background-image: url({{ presentation.textcover }});" data-stellar-background-ratio="0.1">
                        <div class="container center">
                            <div class="vertical-middle">



                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>


    <br/>


    <!--Fin photo presentation-->

    <!--Texte présentation-->
    <div class="container">
            {{ presentation.textpresentation|raw }}
    </div>
    <!--fin texte presentation-->

{% endblock %}