{% extends 'layout.html.twig' %}
{% block title %}Artistes {{ parent() }}{% endblock %}

{% block content %}

    <div class="container hidden-xs">
        <div class=row">
            <div class="portfolio-image img-responsive">
                <img src="images/Laklak/Meryem/OCoverbis.jpg" alt="Portfolio Title">


            </div>
        </div>
    </div>
    <div class="container">
        <div class=row">

            <h1 class="visible-xs">Meryem Aboulouafa</h1>
            <div class="col-sm-4 bottommargin haut">
                <div class="fbox-media clearfix bio thumbnail">
                    <a href="#"><img src="images/photoartistes/2016/meryem.jpg" alt="Visage Meryem Aboulouafa"></a>
                    <div class="detail_artiste"><img src="images/Laklak/logo.jpg" alt=""/></div>
                </div>

                <div class="row">
                    <div class="social col-xs-12">
                        <button class="button button-large button-border button-rounded tright nomargin" type="submit" id="#"
                                name="siteArtiste">Site de l'artiste
                        </button>
                    </div>
                    <div class="col-sm-12 bottommargin-sm">
                        <a href="https://twitter.com/search?q=aboulouafa&src=typd&lang=fr" target="_blank" class="social-icon si-dark si-colored si-twitter nobottommargin" style="margin-right: 10px;">
                            <i class="icon-twitter"></i>
                        </a>

                        <a href="https://www.facebook.com/meryemaboulouafa/" target="_blank" class="social-icon si-dark si-colored si-facebook nobottommargin" style="margin-right: 10px;">
                            <i class="icon-facebook"></i>
                        </a>
                        <a href="https://soundcloud.com/meryemaboulouafa" target="_blank" class="social-icon si-dark si-colored si-soundcloud nobottommargin" style="margin-right: 10px;">
                            <i class="icon-soundcloud"></i>
                        </a>
                        <a href="http://meryemaboulouafa.tumblr.com" target="_blank" class="social-icon si-dark si-colored si-tumblr nobottommargin" style="margin-right: 10px;">
                            <i class="icon-tumblr"></i>
                        </a>
                        <a href="https://vimeo.com/meryemaboulouafa" target="_blank" class="social-icon si-dark si-colored si-vimeo nobottommargin" style="margin-right: 10px;">
                            <i class="icon-vimeo"></i>
                        </a>
                    </div>
                </div>


                <div class="bio thumbnail video hidden-xs"><iframe width="100%" height="315" src="http://www.youtube.com/embed/nOCmdZNgbQA" frameborder="0" allowfullscreen></iframe>
                </div>

                <div class="bio thumbnail sound">
                    <iframe width="100%" height="450" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/users/9943443&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;visual=true"></iframe>
                </div>
                <div class="bio thumbnail">
                    <iframe src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2Fmeryemaboulouafa%2F%3Ffref%3Dts&tabs=timeline&width=400&height=400&small_header=true&adapt_container_width=true&hide_cover=true&show_facepile=false&appId" width="100%" height="300" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true"></iframe>                                             </div>
            </div>


            <div class="col-sm-8">
                <h1 class="hidden-xs">Meryem Aboulouafa</h1>
                <div class="bio thumbnail"> <h3>Biographie</h3>
                    <p>Auteure, compositeur et interprète vivant à Casablanca où elle est née en 1988, Meryem Aboulouafa participe, depuis plusieurs années, à de nombreux projets musicaux au Maroc et à l’étranger et initie diverses collaborations artistiques. Elle puise son inspiration au gré de ces rencontres, s’aguerrit sur scène en réalisant des performances en public, et enrichit petit à petit son univers artistique, jusqu’à décider de se consacrer au développement de son propre projet. Parmi ces différentes rencontres, celle avec Francesco Santalucia, compositeur et pianiste Italien, l’amènera à Rome, au sein du studio OMO. C’est là, qu’ils démarrent ensemble, en 2015, la réalisation d’un premier projet en commun.</p>
                </div>


                <div class="bio thumbnail"><h3>Discographie</h3>


                    <div class="row">
                        <div class="col-xs-6 col-md-3">
                            <a href="#" class="thumbnail">
                                <img alt="disque 1" src="http://canvashtml-cdn.semicolonweb.com/images/extras/200x200.gif" style="height: 80px; width: 80%; display: block;">
                            </a>
                        </div>
                        <div class="col-xs-6 col-md-3">
                            <a href="#" class="thumbnail">
                                <img alt="disque 2" src="http://canvashtml-cdn.semicolonweb.com/images/extras/200x200.gif" style="height: 80px; width: 80%; display: block;">
                            </a>
                        </div>
                        <div class="col-xs-6 col-md-3">
                            <a href="#" class="thumbnail">
                                <img alt="disque 3" src="http://canvashtml-cdn.semicolonweb.com/images/extras/200x200.gif" style="height: 80px; width: 80%; display: block;">
                            </a>
                        </div>
                        <div class="col-xs-6 col-md-3">
                            <a href="#" class="thumbnail">
                                <img alt="disque 4" src="http://canvashtml-cdn.semicolonweb.com/images/extras/200x200.gif" style="height: 80px; width: 80%; display: block;">
                            </a>
                        </div>
                        <div class="col-xs-6 col-md-3">
                            <a href="#" class="thumbnail">
                                <img alt="disque 5" src="http://canvashtml-cdn.semicolonweb.com/images/extras/200x200.gif" style="height: 80px; width: 80%; display: block;">
                            </a>
                        </div>
                    </div>

                </div>


                <div class="nobottommargin bio thumbnail">

                    <h3>Dates importantes</h3>

                    <div class="table-responsive">
                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th>Timings</th>
                                <th>Location</th>
                                <th>Events</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td><span class="label label-danger">10:00 - 12:00</span></td>
                                <td>Main Auditorium</td>
                                <td>WWDC Developer Conference</td>
                            </tr>
                            <tr>
                                <td><span class="label label-danger">12:00 - 12:45</span></td>
                                <td>Cafeteria</td>
                                <td>Lunch</td>
                            </tr>
                            <tr>
                                <td><span class="label label-danger">15:00 - 18:00</span></td>
                                <td>Room - 25, 2nd Floor</td>
                                <td>Hardware Testing &amp; Evaluation</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>




                <div class="col_full clearfix">
                    <h3>Galerie</h3>

                    <div class="masonry-thumbs col-4" data-big="1" data-lightbox="gallery">
                        <a href="images/Laklak/Meryem/Meryem_Aboulouafa©BaptisteDVA-18.jpg" data-lightbox="gallery-item"><img class="image_fade" src="images/Laklak/Meryem/Meryem_Aboulouafa©BaptisteDVA-18.jpg" alt="Gallery Thumb 1"></a>
                        <a href="images/Laklak/Meryem/F94T0300.JPG" data-lightbox="gallery-item"><img class="image_fade" src="images/Laklak/Meryem/F94T0300.JPG" alt="Gallery Thumb 2"></a>
                        <a href="images/Laklak/Meryem/Meryem_Aboulouafa©BaptisteDVA-20.jpg" data-lightbox="gallery-item"><img class="image_fade" src="images/Laklak/Meryem/Meryem_Aboulouafa©BaptisteDVA-20.jpg" alt="Gallery Thumb 3"></a>
                        <a href="images/Laklak/Meryem/Meryem_Aboulouafa©BaptisteDVA-19.jpg" data-lightbox="gallery-item"><img class="image_fade" src="images/Laklak/Meryem/Meryem_Aboulouafa©BaptisteDVA-19.jpg" alt="Gallery Thumb 4"></a>
                        <a href="images/Laklak/Meryem/Meryem_Aboulouafa©BaptisteDVA-19.jpg" data-lightbox="gallery-item"><img class="image_fade" src="images/Laklak/Meryem/Meryem_Aboulouafa©BaptisteDVA-19.jpg" alt="Gallery Thumb 4"></a>
                        <a href="images/Laklak/Meryem/Meryem_Aboulouafa©BaptisteDVA-19.jpg" data-lightbox="gallery-item"><img class="image_fade" src="images/Laklak/Meryem/Meryem_Aboulouafa©BaptisteDVA-19.jpg" alt="Gallery Thumb 4"></a>
                        <a href="images/Laklak/Meryem/Meryem_Aboulouafa©BaptisteDVA-19.jpg" data-lightbox="gallery-item"><img class="image_fade" src="images/Laklak/Meryem/Meryem_Aboulouafa©BaptisteDVA-19.jpg" alt="Gallery Thumb 4"></a>
                        <a href="images/Laklak/Meryem/Meryem_Aboulouafa©BaptisteDVA-19.jpg" data-lightbox="gallery-item"><img class="image_fade" src="images/Laklak/Meryem/Meryem_Aboulouafa©BaptisteDVA-19.jpg" alt="Gallery Thumb 4"></a>
                        <a href="images/Laklak/Meryem/Meryem_Aboulouafa©BaptisteDVA-19.jpg" data-lightbox="gallery-item"><img class="image_fade" src="images/Laklak/Meryem/Meryem_Aboulouafa©BaptisteDVA-19.jpg" alt="Gallery Thumb 4"></a>
                        <a href="images/Laklak/Meryem/Meryem_Aboulouafa©BaptisteDVA-13.jpg" data-lightbox="gallery-item"><img class="image_fade" src="images/Laklak/Meryem/Meryem_Aboulouafa©BaptisteDVA-13.jpg" alt="Gallery Thumb 5"></a>
                        <a href="images/Laklak/Meryem/Meryem_Aboulouafa©BaptisteDVA-13.jpg" data-lightbox="gallery-item"><img class="image_fade" src="images/Laklak/Meryem/Meryem_Aboulouafa©BaptisteDVA-13.jpg" alt="Gallery Thumb 5"></a>
                        <a href="images/Laklak/Meryem/Meryem_Aboulouafa©BaptisteDVA-13.jpg" data-lightbox="gallery-item"><img class="image_fade" src="images/Laklak/Meryem/Meryem_Aboulouafa©BaptisteDVA-13.jpg" alt="Gallery Thumb 5"></a>
                        <a href="images/Laklak/Meryem/Meryem_Aboulouafa©BaptisteDVA-13.jpg" data-lightbox="gallery-item"><img class="image_fade" src="images/Laklak/Meryem/Meryem_Aboulouafa©BaptisteDVA-13.jpg" alt="Gallery Thumb 5"></a>
                        <a href="images/Laklak/Meryem/Meryem_Aboulouafa©BaptisteDVA-13.jpg" data-lightbox="gallery-item"><img class="image_fade" src="images/Laklak/Meryem/Meryem_Aboulouafa©BaptisteDVA-13.jpg" alt="Gallery Thumb 5"></a>
                        <a href="images/Laklak/Meryem/Meryem_Aboulouafa©BaptisteDVA-12.jpg" data-lightbox="gallery-item"><img class="image_fade" src="images/Laklak/Meryem/Meryem_Aboulouafa©BaptisteDVA-12.jpg" alt="Gallery Thumb 6"></a>
                        <a href="images/Laklak/Meryem/Meryem%20Aboulouafa.jpg" data-lightbox="gallery-item"><img class="image_fade" src="images/Laklak/Meryem/Meryem%20Aboulouafa.jpg" alt="Gallery Thumb 7"></a>
                        <a href="images/Laklak/Meryem/JohnFPeters_BDMOROC_5828.jpg" data-lightbox="gallery-item"><img class="image_fade" src="images/Laklak/Meryem/JohnFPeters_BDMOROC_5828.jpg" alt="Gallery Thumb 9"></a>
                        <a href="images/Laklak/Meryem/JohnFPeters_BDMOROC_5828.jpg" data-lightbox="gallery-item"><img class="image_fade" src="images/Laklak/Meryem/JohnFPeters_BDMOROC_5828.jpg" alt="Gallery Thumb 9"></a>
                        <a href="images/Laklak/Meryem/JohnFPeters_BDMOROC_5828.jpg" data-lightbox="gallery-item"><img class="image_fade" src="images/Laklak/Meryem/JohnFPeters_BDMOROC_5828.jpg" alt="Gallery Thumb 9"></a>
                        <a href="images/Laklak/Meryem/JohnFPeters_BDMOROC_5828.jpg" data-lightbox="gallery-item"><img class="image_fade" src="images/Laklak/Meryem/JohnFPeters_BDMOROC_5828.jpg" alt="Gallery Thumb 9"></a>
                    </div>

                    <div class="divider"><i class="icon-circle"></i></div>
                </div>
            </div>

        </div>
    </div>

{% endblock %}