{% extends 'layout.html.twig' %}
{% block classHeader %}home {% endblock %}
{% block content %}
<section id="slider" class="full-screen force-full-screen clearfix swiper_wrapper" data-speed="2000" data-loop="true" data-autoplay="5000">
    <div class="swiper-container swiper-parent">
        <div class="swiper-wrapper full-screen force-full-screen">
            <div class="swiper-slide" style="background-image: url('images/Laklak/Slider/1-1.jpg');">
                <div class="container clearfix">
                    <div class="slider-caption slider-caption-center swiper_wrapper">
                        <h2 data-caption-animate="fadeInUp">LAKLAK <br/>PRODUCTION</h2>
                        <p data-caption-animate="fadeInUp" data-caption-delay="200">Flexibility to the core &amp; different in every aspect. Meet the new Canvas. Creative &amp; Efficiently Powerful.</p>
                        <a data-caption-animate="fadeInUp" data-caption-delay="300" href="#" class="button button-border button-rounded">View our Works</a>
                    </div>
                </div>
            </div>
            <div class="swiper-slide" style="background-image: url('images/Laklak/Slider/2-1.jpg');">
                <div class="container clearfix">
                    <div class="slider-caption slider-caption-center swiper_wrapper">
                        <h2 data-caption-animate="fadeInUp">LAKLAK PRODUCTION</h2>
                        <p data-caption-animate="fadeInUp" data-caption-delay="200">Flexibility to the core &amp; different in every aspect. Meet the new Canvas. Creative &amp; Efficiently Powerful.</p>
                        <a data-caption-animate="fadeInUp" data-caption-delay="300" href="#" class="button button-border button-rounded">View our Works</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock content %}
{% block footer %}
<!-- Go To Top ============================================= -->
<div id="gotoTop" class="icon-angle-up"></div>

<!-- External JavaScripts ============================================= -->
<script type="text/javascript" src="js/jquery.js"></script>
<script type="text/javascript" src="js/plugins.js"></script>


<!-- Footer Scripts ============================================= -->
<script type="text/javascript" src="js/functions.js"></script>
</body>
</html>
    {% endblock footer %}