<!DOCTYPE html>
<html dir="ltr" lang="fr-FR">
<head>

    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <meta name="author" content="SemiColonWeb"/>


    <!-- Stylesheets
    ============================================= -->
    <link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700|Roboto:300,400,500,700" rel="stylesheet" type="text/css" />

    <link rel="stylesheet" href="css/bootstrap.css" type="text/css" />
    <link rel="stylesheet" href="style.css" type="text/css" />
    <link rel="stylesheet" href="css/swiper.css" type="text/css" />


    <link rel="stylesheet" href="css/font-icons.css" type="text/css" />
    <link rel="stylesheet" href="css/fonts.css" type="text/css"/>


    <link rel="stylesheet" href="css/dark.css" type="text/css" />
    <link rel="stylesheet" href="css/animate.css" type="text/css" />
    <link rel="stylesheet" href="css/components/bs-select.css" type="text/css" />
    <link rel="stylesheet" href="css/components/bs-switches.css" type="text/css" />
    <link rel="stylesheet" href="css/components/radio-checkbox.css" type="text/css" />
    <link rel="stylesheet" href="css/responsive.css" type="text/css"/>
    <link rel="stylesheet" href="css/colors.css" type="text/css"/>
    <link rel="stylesheet" href="css/custom.css" type="text/css"/>
    <link rel="stylesheet" href="css/magnific-popup.css" type="text/css"/>
    <link rel="icon" type="image/png" href="images/photoartistes/logo.jpg" />
    {% block css %}{% endblock %}


    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <!-- Document Title
    ============================================= -->
    <title>{% block title %} - Laklak Productions{% endblock title %}</title>
</head>
<body>
<!-- Header ============================================= -->

<header id="header" class="{% block classHeader %}{% endblock %}style-3 full-header transparent-header static-sticky" data-sticky-class="not-dark" data-sticky-offset="0">
    <div id="header-wrap">
        <div class="clearfix">
            <div id="primary-menu-trigger">
                <i class="icon-reorder"></i>
            </div>

            <!-- Logo ============================================= -->
            <div id="logo">
                <a href="index.php" class="standard-logo" ><img src="images/Laklak/Logotype-full-PNG-HD-BLACK.png" alt="LAKLAK Logo"></a>
                <a href="index.php" class="retina-logo"><img src="images/Laklak/Logotype-full-PNG-HD-BLACK.png" alt="LAKLAK Logo"></a>
            </div>
            <!-- #logo end -->
            <!-- Primary Navigation ============================================= -->
            <nav id="primary-menu">
                <ul class="one-page-menu sf-js-enabled">
                    <li><a href="?page=apropos">
                            <div>À propos</div>
                        </a></li>
                    <li><a href="?page=liste_artistes">
                            <div>Artistes</div>
                        </a></li>
                    <li><a href="?page=liste_evenements">
                            <div>Evenements</div>
                        </a></li>
                    <li><a href="?page=agenda">
                            <div>Agenda</div>
                        </a></li>
                    <li><a href="?page=contact">
                            <div>Contact</div>
                        </a></li>
                </ul>
            </nav>
            <!-- #primary-menu end -->
        </div>
    </div>
</header>
<!-- #header end -->
{% block content %}

{% endblock %}
{% block footer %}
<!--footer-->

<footer id="footer" class="dark">
    <div class="container-fluid">
        <div class="footer-widgets-wrap clearfix">
            <div class="row">
                <div class="col-md-4">
                    <div class="widget clearfix">

                        <a href="?page=presentation"><img src="images/Laklak/Logotype-full-PNG-HD-WHITE.png" alt="logo Laklak" class="standard-logo"></a>

                        <p>Société de production musicale.</br><strong>Professionnel</strong>, <strong>Créatif</strong> &amp; <strong>Moderne</strong>.</p>

                        <div style="background: url('images/world-map.png') no-repeat left left; background-size: 20%;">
                            <address>
                                <strong>Siège social:</strong><br>
                                <br>
                                Rabat, Maroc<br>
                            </address>
                            <abbr title="Phone Number"><strong>Téléphone:</strong></abbr> (91) 8547 632521<br>
                            <abbr title="Email Address"><strong>Email:</strong></abbr> laklak@laklak.com
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="widget widget_links clearfix">
                        <h4>Liens</h4>
                        <ul>
                            <li><a href="?page=presentation">Accueil</a></li>
                            <li><a href="?page=liste_artistes">Artistes</a></li>
                            <li><a href="?page=liste_evenements">Evènements</a></li>
                            <li><a href="?page=agenda">Agenda</a></li>
                            <li><a href="?page=contact">Contact</a></li>
                        </ul>
                        <div class="widget clearfix" style="margin-bottom: -20px;">
                            <div class="row">
                                <div class="col-md-2 col-xs-2 clearfix bottommargin-md">
                                    <a href="https://www.instagram.com/laklakprod/" target="_blank" class="social-icon si-borderless si-instagram nobottommargin" style="margin-right: 10px;">
                                        <i class="icon-instagram"></i>
                                        <i class="icon-instagram"></i>

                                    </a>
                                </div>
                                <div class="col-md-2 col-xs-2 clearfix bottommargin-md">
                                    <a href="https://twitter.com/Laklak_Prod?lang=fr" target="_blank" class="social-icon si-borderless si-twitter nobottommargin" style="margin-right: 10px;">
                                        <i class="icon-twitter"></i>
                                        <i class="icon-twitter"></i>
                                    </a>
                                </div>

                                <div class="col-md-2 col-xs-2 clearfix bottommargin-md">
                                    <a href="https://www.facebook.com/laklakproductions" target="_blank" class="social-icon si-borderless si-facebook nobottommargin" style="margin-right: 10px;">
                                        <i class="icon-facebook"></i>
                                        <i class="icon-facebook"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div>
                        <br><a href="https://wildcodeschool.fr" target="_blank"> <img src="images/LogoNB/PNG/logo_small_nb_horizontal.resized.png" alt="logo Wild Code School"><br>Site conçu et développé par WCS</a>
                    </div>
                    <div>
                        <p>
                            <br><small>Mentions légales | Crédits | © Copyright</small>
                        </p>
                    </div>

                </div>
                <div class="col-md-5">

                    <div class="widget clearfix hidden-xs">
                        <iframe src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2Flaklakproductions%2F%3Fref%3Dts%26fref%3Dts&tabs=timeline&width=500&height=400&small_header=false&hide_cover=false&show_facepile=false&appId" width="100%" height="400" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true"></iframe>
                    </div>
                </div>
            </div>
        </div>
    </div>


</footer>


<!-- Go To Top ============================================= -->
<div id="gotoTop" class="icon-angle-up"></div>

<!-- External JavaScripts ============================================= -->
<script type="text/javascript" src="js/jquery.js"></script>
<script type="text/javascript" src="js/plugins.js"></script>

<!-- Bootstrap Select Plugin -->
<script type="text/javascript" src="js/components/bs-select.js"></script>
<!-- Select Splitter Plugin -->
<script type="text/javascript" src="js/components/selectsplitter.js"></script>

<!-- Bootstrap Switch Plugin -->
<script type="text/javascript" src="js/components/bs-switches.js"></script>

<!-- Footer Scripts ============================================= -->
<script type="text/javascript" src="js/functions.js"></script>

<script type="text/javascript">

    $('.selectsplitter').selectsplitter();

</script>
<script>

    jQuery(".bt-switch").bootstrapSwitch();

</script>


</body>
</html>
{% endblock %}