{% extends 'layout.html.twig' %}
{% block title %}liste évènements{{ parent() }}{% endblock %}

{% block content %}

    <div class="container clearfix list_event">

        <div class="fancy-title title-border">
            <h3>EVENEMENTS</h3>
        </div>

        <!--sélecteur-->
        <div class="panel panel-default hidden-xs">
            <div class="panel-body">
                <form id="template-contactform" class="">

                    <div class="col-md-3 col-sm-6">
                        <label>Date:</label>
                        <select class="selectpicker" title="Sélectionnez une date...">
                            <option>2015</option>
                            <option>2016</option>
                            <option>2017</option>
                        </select>
                    </div>


                    <div class="col-md-3 col-sm-6 height-line pull-left">
                        <button class="button button-small button-border button-rounded tright nomargin" type="submit" id="template-contactform-submit"
                                name="template-contactform-submit" value="submit">Filtrer
                        </button>
                    </div>
                </form>
            </div>
        </div>



        <div class="col-sm-6 col-md-3 thumbnail bottommargin">
            <div class="feature media-box">
                <div class="fbox-media">
                    <div class="image_list_event" style="background-image:url('images/photoartistes/2015/jazzaauchellah.jpg')">
                        <img class="img_list_event" src="images/photoartistes/2015/jazzaauchellah.jpg" alt="jazzaauchellah"/>
                        <h3 class="nom_list_event">jazzaauchellah</h3>
                    </div>
                    <div class="i-overlay on-hover">
                        <a href="?page=evenements">
                            <i class ="icon-line-plus"></i>
                        </a>

                    </div>
                </div>
                <div class="fbox-desc">
                    <img class="list_label_laklak" src="images/Laklak/logo.jpg" alt=""/>
                </div>
            </div>
        </div>

        <div class="col-sm-6 col-md-3 thumbnail bottommargin">
            <div class="feature media-box">
                <div class="fbox-media">
                    <div class="image_list_event" style="background-image:url('images/photoartistes/2015/transahara.jpg')">
                        <img class="img_list_event" src="images/photoartistes/2015/transahara.jpg" alt="transahara"/>
                        <h3 class="nom_list_event">transahara</h3>
                    </div>
                    <div class="i-overlay on-hover">
                        <a href="?page=evenements">
                            <i class ="icon-line-plus"></i>
                        </a>

                    </div>
                </div>
                <div class="fbox-desc">
                    <img class="list_label_laklak" src="images/Laklak/logo.jpg" alt=""/>
                </div>
            </div>
        </div>

        <div class="col-sm-6 col-md-3 thumbnail bottommargin">
            <div class="feature media-box">
                <div class="fbox-media">
                    <div class="image_list_event" style="background-image:url('images/photoartistes/2016/jazzablanca.jpg')">
                        <img class="img_list_event" src="images/photoartistes/2016/jazzablanca.jpg" alt="jazzablanca"/>
                        <h3 class="nom_list_event">jazzablanca</h3>
                    </div>
                    <div class="i-overlay on-hover">
                        <a href="?page=evenements">
                            <i class ="icon-line-plus"></i>
                        </a>

                    </div>
                </div>
                <div class="fbox-desc">
                    <img class="list_label_laklak" src="images/Laklak/logo.jpg" alt=""/>
                </div>
            </div>
        </div>

        <div class="col-sm-6 col-md-3 thumbnail bottommargin">
            <div class="feature media-box">
                <div class="fbox-media">
                    <div class="image_list_event" style="background-image:url('images/photoartistes/2016/nuitelectroniquecasa.jpg')">
                        <img class="img_list_event" src="images/photoartistes/2016/nuitelectroniquecasa.jpg" alt="nuitelectroniquecasa"/>
                        <h3 class="nom_list_event">nuit electronique<br/>casa</h3>
                    </div>
                    <div class="i-overlay on-hover">
                        <a href="?page=evenements">
                            <i class ="icon-line-plus"></i>
                        </a>

                    </div>
                </div>
                <div class="fbox-desc">
                    <img class="list_label_laklak" src="" alt=""/>
                </div>
            </div>
        </div>

        <div class="col-sm-6 col-md-3 thumbnail bottommargin">
            <div class="feature media-box">
                <div class="fbox-media">
                    <div class="image_list_event" style="background-image:url('images/photoartistes/2016/nuitcasa.jpg')">
                        <img class="img_list_event" src="images/photoartistes/2016/nuitcasa.jpg" alt="nuitcasa"/>
                        <h3 class="nom_list_event">nuitcasa</h3>
                    </div>
                    <div class="i-overlay on-hover">
                        <a href="?page=evenements">
                            <i class ="icon-line-plus"></i>
                        </a>

                    </div>
                </div>
                <div class="fbox-desc">
                    <img class="list_label_laklak" src="" alt=""/>
                </div>
            </div>
        </div>

        <div class="col-sm-6 col-md-3 thumbnail bottommargin">
            <div class="feature media-box">
                <div class="fbox-media">
                    <div class="image_list_event" style="background-image:url('images/photoartistes/2017/encore2.png')">
                        <img class="img_list_event" src="images/photoartistes/2017/encore2.png" alt="encore2"/>
                        <h3 class="nom_list_event">encore2</h3>
                    </div>
                    <div class="i-overlay on-hover">
                        <a href="?page=evenements">
                            <i class ="icon-line-plus"></i>
                        </a>

                    </div>
                </div>
                <div class="fbox-desc">
                    <img class="list_label_laklak" src="" alt=""/>
                </div>
            </div>
        </div>

    </div>


{% endblock %}