{% extends 'layout.html.twig' %}

{% block content %}

    <h1>Ajouter un évènement</h1>
    <div class="container-fluid">
        <div class="row col-xs-9">
            <form method="POST" name="addEvent" action="?page=addEvent">

                <div class="form-group">
                    <label for="nom">Nom</label>
                    <input type="text" class="form-control" name="nom" id="nom" name="nom" placeholder="nom de l'évènement">
                </div>

                <div class="form-group">
                    <label for="lieu">Lieu</label>
                    <input type="text" class="form-control" name="lieu" id="lieu" placeholder="lieu de l'évènement">
                </div>

                <div class="form-group">
                    <label for="date">Date</label>
                    <input type="text" class="form-control" name="date" id="date" placeholder="date de l'évènement">
                </div>

                <div class="form-group">
                    <label for="artistes">Artistes de l'évènement</label>
                    <textarea cols="70" class="ckeditor" rows="10" class="form-control" name="artistes" id="artistes" placeholder="production"></textarea>
                </div>

                <div class="form-group">
                    <label for="description">Description de l'évènement</label>
                    <textarea cols="70" class="ckeditor" rows="10" class="form-control" name="description" id="description" placeholder="description"></textarea>
                </div>

                <div class="form-group">
                    <label for="idArtiste">identifiant de l'artiste</label>
                    <textarea cols="70" class="ckeditor" rows="10" class="form-control" name="idArtiste" id="idArtiste" placeholder="production"></textarea>
                </div>

                <div class="form-group">
                    <label for="production">Productions</label>
                    <textarea cols="70" class="ckeditor" rows="10" class="form-control" name="production" id="production" placeholder="production"></textarea>
                </div>

                <div class="form-group">
                    <label for="websiteUrl">website url</label>
                    <input type="url" class="form-control" id="websiteUrl" name="websiteUrl" placeholder="website url">
                </div>

                <div class="form-group">
                    <label for="facebookUrl">Facebook url</label>
                    <input type="url" class="form-control" name="facebookUrl" id="facebookUrl" placeholder="url facebook">
                </div>

                <div class="form-group">
                    <label for="twitterUrl">Twitter url</label>
                    <input type="url" class="form-control" name="twitterUrl" id="twitterUrl" placeholder="url twitter">
                </div>

                <div class="form-group">
                    <label for="soundcloudUrl">Soundcloud url</label>
                    <input type="url" class="form-control" name="soundcloudUrl" id="soundcloudUrl" placeholder="url soundcloud">
                </div>

                <div class="form-group">
                    <label for="iframeSoundcloud">Iframe Soundcloud <i class="icon-soundcloud"></i></label>
                    <input type="url" class="form-control" id="iframeSoundcloud" name="iframeSoundcloud" placeholder="iframe Soundcloud">
                </div>

                <div class="form-group">
                    <label for="iframeYoutube">Iframe Youtube <i class="icon-youtube"></i></label>
                    <input type="url" class="form-control" name="iframeYoutube" id="iframeYoutube" placeholder="iframe Youtube">
                </div>

                <h4>Evènement Laklak</h4>
                <div class="radio">
                        <input type="radio" name="laklak" id="oui" value="1">Oui</label>
                        <input type="radio" name="laklak" id="non" value="0" checked="checked">Non</label>
                </div>

                <div class="form-group">
                    <label for="imgEvenement">Photo profil évènement</label>
                    <input type="file" name="imgEvenement" id="imgEvenement">
                </div>

                <div class="form-group">
                    <label for="imgCoverEvenement">Photo couverture évènement</label>
                    <input type="file" name="imgCoverEvenement" id="imgCoverEvenement">
                </div>

                <div>
                    <label for="type">Type évènement</label>
                    <select class="selectpicker" multiple title="Choisir un type" name="type">
                        <option value="private">private</option>
                        <option value="titi">type 2</option>
                        <option value="toto">type 3</option>
                    </select>
                </div>

                <div class="form-group">
                    <label for="moreUrl">more url</label>
                    <input type="url" class="form-control" id="moreUrl" name="moreUrl" placeholder="more_url">
                </div>

                <div class="form-group">
                    <label for="bookingUrl">booking url</label>
                    <input type="url" class="form-control" id="bookingUrl" name="bookingUrl" placeholder="more url">
                </div>

                <input class="btn btn-success" type="submit" name="addEvent" value="Ajouter">

                </form>
        </div>

    </div>

{% endblock %}