{% extends 'layout.html.twig' %}
{% block content %}

 <form method="post" action="adminapropos.html.twig">
  <h1>Modifier texte de présentation</h1>
  <div class="form-group">
   <label for="produit">Texte de presentation</label>

  <textarea class="form-control" rows="10"></textarea>

  <input class="btn btn-default" type="reset" name="btnReset" value="Effacer" />
   <input class="btn btn-primary" type="submit" name="btnSubmit" value="modifier" />
  <input class="btn btn-success" type="submit" name="btnSubmit" value="valider" />

  </div>

 </form>
{% endblock %}