
{% extends 'layout.html.twig' %}
{% block content %}
    <form method="post" action="?page=adminapropos&id=0" xmlns="http://www.w3.org/1999/html">
        <h1>Modifier texte de présentation</h1>
        <div class="form-group">
            <label for="produit"></label>
            <textarea cols="100" class="ckeditor" rows="30" class="form-control" id="bio" >{{ presentation.text_presentation }}</textarea>
            <div>
                <input class="btn btn-success" type="submit" name="btnSubmit" value="valider" />
    </form>
{% endblock %}







