{% extends 'layout.html.twig' %}

{% block content %}

    <h1>Modifier un artiste</h1>

<div class="container-fluid">
    <div class="row col-xs-9">
    <form method="POST" action="?page=updateartist" name="updateartist">

        <div class="form-group">
            <label for="nom">Nom de l'artiste</label>
            <input type="text" class="form-control" id="nom" placeholder="nom de l'artiste" name="nomArtist" value="{{ artist.artistname }}">
        </div>
        <input type="text" class="hidden" id="id" name="artistid">
        <div class="form-group">

            <label for="biographie">Biographie</label>

            <textarea cols="70" class="ckeditor" rows="10" class="form-control" id="bio" placeholder="Biographie" name="bio" value="{{ artist.bio|raw }}"></textarea>
        </div>

        <div class="form-group">
            <label for="Site de l'artiste">site de l'artiste</label>
            <input type="url" class="form-control" id="url" placeholder="site de l'artiste" name="siteArtist" value="{{ artist.artistwebsiteurl }}">
        </div>
        <div class="form-group">
            <label for="IframeFacebook">Iframe Facebook <i class="icon-facebook"></i></label>
            <input type="url" class="form-control" id="iframeFacebook" placeholder="lien Facebook" name="fbArtistIframe">
            <comment><em> prendre le code de l'iframe de <a href="https://developers.facebook.com/docs/plugins/page-plugin">facebook.</a></em></comment>
        </div>
        <div class="form-group">
            <label for="IframeYoutube">Iframe Youtube <i class="icon-youtube"></i></label>
            <input type="url" class="form-control" id="iframeYoutube" placeholder="lien Youtube" name="yArtistIframe">
        </div>
        <div class="form-group">
            <label for="IframeSoundCloud">Iframe Soundcloud <i class="icon-soundcloud"></i></label>
            <input type="url" class="form-control" id="iframeSoundCloud" placeholder="lien Soundcloud" name="scArtistIframe">
        </div>

        <div class="form-group">
            <label for="fluxTwitter">Twitter <i class="icon-twitter"></i></label>
            <input type="url" class="form-control" id="fluxTwitter" placeholder="page Twitter" name="twitArtist">
        </div>
        <div class="form-group">
            <label for="fluxSoundcloud">SoundCloud <i class="icon-soundcloud"></i></label>
            <input type="url" class="form-control" id="fluxSoundcloud" placeholder="page Soundcloud" name="artistsoundcloudurl">
        </div>

        <div class="form-group">
            <label for="fluxVimeo">Vimeo <i class="icon-vimeo"></i></label>
            <input type="url" class="form-control" id="fluxVimeo" placeholder="page Vimeo" name="vimArtist">
        </div>

        <div class="form-group">
            <label for="fluxInstagram">Instagram <i class="icon-instagram"></i></label>
            <input type="url" class="form-control" id="fluxInstagram" placeholder="page Instagram" name="instArtist">
        </div>
        <div class="form-group">
            <label for="fluxTumblr">Tumblr <i class="icon-tumblr"></i></label>
            <input type="url" class="form-control" id="fluxtumblr" placeholder="page Tumblr" name="tumbArtist">
        </div>
        <h4>Artiste Laklak</h4>
        <div class="radio">
            <label>
                <input type="radio" id="optionsRadios1" value="1" name="laklak">Oui
            </label>
        </div>
        <div class="radio">
            <label>
                <input type="radio" id="optionsRadios2" value="0" name="laklak" checked>Non
            </label>
        </div>


        <div class="form-group">
            <label for="exampleInputFile">Photo artiste</label>
            <input type="file" id="photoArtiste" name="artistImgProfilPath">

        </div>
        <div class="form-group">
            <label for="exampleInputFile">Photo Cover</label>
            <input type="file" id="photoCover" name="artistImgCoverPath">

        </div>
        <div>
        <label>Evènements</label>
        <select class="selectpicker" title="Choisir un ou plusieurs événement" name="artistidevent">
            <option value="1" selected>Event 1</option>
            <option value="2">Event 2</option>
            <option value="3">Event 3</option>
        </select>
    </div>

        <button type="submit" name="add" class="btn btn-default">Modifier</button>

    </form>
    </div>
</div>

{% endblock %}