<!DOCTYPE html>
<html dir="ltr" lang="fr-FR">
<head>

    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <meta name="author" content="SemiColonWeb"/>


    <!-- Stylesheets
    ============================================= -->
    <link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700|Roboto:300,400,500,700"
          rel="stylesheet" type="text/css"/>

    <link rel="stylesheet" href="css/bootstrap.css" type="text/css"/>
    <link rel="stylesheet" href="style.css" type="text/css"/>
    <link rel="stylesheet" href="css/swiper.css" type="text/css"/>



    <link rel="stylesheet" href="css/font-icons.css" type="text/css"/>
    <link rel="stylesheet" href="css/fonts.css" type="text/css"/>


    <link rel="stylesheet" href="css/dark.css" type="text/css"/>
    <link rel="stylesheet" href="css/animate.css" type="text/css"/>
    <link rel="stylesheet" href="css/components/bs-select.css" type="text/css"/>
    <link rel="stylesheet" href="css/components/bs-switches.css" type="text/css"/>
    <link rel="stylesheet" href="css/components/radio-checkbox.css" type="text/css"/>
    <link rel="stylesheet" href="css/responsive.css" type="text/css"/>
    <link rel="stylesheet" href="css/colors.css" type="text/css"/>
    <link rel="stylesheet" href="css/custom.css" type="text/css"/>
    <link rel="stylesheet" href="css/magnific-popup.css" type="text/css"/>
    <link rel="stylesheet" href="css/imports/header.css" type="text/css"/>
    <link rel="icon" type="image/png" href="images/photoartistes/logo.jpg"/>
    {% block css %}{% endblock %}


    <meta name="viewport" content="width=device-width, initial-scale=1"/>


    <!-- Document Title
    ============================================= -->
    <title>{% block title %} - Laklak Productions{% endblock title %}</title>
</head>

<body class="stretched side-header">
<!-- Document Wrapper
	============================================= -->
<div id="wrapper" class="clearfix">

    <!-- Header
    ============================================= -->
    <header id="header" class="dark">

        <div id="header-wrap">

            <div class="container clearfix">

                <div id="primary-menu-trigger"><i class="icon-reorder"></i></div>

                <!-- Logo
                ============================================= -->
                <div id="logo" class="nobottomborder">
                    <a href="?page=index&id=1"><img src="images/photoartistes/logo4.png" alt="Canvas Logo"></a>
                </div>

                <!-- Primary Navigation
                ============================================= -->
                <nav id="primary-menu">

                    <ul>
                        <li class="current"><a href="#"><div>Artistes</div></a>
                            <ul>
                                <li><a href="?page=listeartistes&id=0"><div>Gérer les artistes</div></a></li>
                                <li><a href=?page=ajoutartistes&id=0"><div>Ajouter un artiste</div></a></li>
                            </ul>
                        </li>
                        <li><a href="#"><div>Evenements</div></a>
                            <ul>
                                <li><a href="?page=listEvent&id=0"><div>Gérer les évènements</div></a></li>
                                <li><a href="#"><div>Ajouter un évènement</div></a></li>
                            </ul>
                        </li>
                        <li><a href="?page=adminapropos&id=0"><div>A propos</div></a></li>
                        <li><a href="#"><div>Agenda</div></a></li>
                        <li><a href="#"><div>Options</div></a>
                            <ul>
                                <li><a href="?page=modifAccueil"><div>Page d'accueil</div></a></li>
                                <li><a href="#"><div>Autres</div></a></li>
                            </ul>
                        </li>
                        <li><a href="?page=deconnexion"><div>Déconnexion</div></a></li>
                    </ul>

                </nav><!-- #primary-menu end -->

                <div class="clearfix visible-md visible-lg">
                    <a href="#" class="social-icon si-small si-borderless si-facebook">
                        <i class="icon-facebook"></i>
                        <i class="icon-facebook"></i>
                    </a>

                    <a href="#" class="social-icon si-small si-borderless si-twitter">
                        <i class="icon-twitter"></i>
                        <i class="icon-twitter"></i>
                    </a>

                    <a href="#" class="social-icon si-small si-borderless si-gplus">
                        <i class="icon-gplus"></i>
                        <i class="icon-gplus"></i>
                    </a>

                    <a href="#" class="social-icon si-small si-borderless si-pinterest">
                        <i class="icon-pinterest"></i>
                        <i class="icon-pinterest"></i>
                    </a>

                    <a href="#" class="social-icon si-small si-borderless si-github">
                        <i class="icon-github"></i>
                        <i class="icon-github"></i>
                    </a>
                </div>

            </div>
        </div>
    </header><!-- #header end -->
  <!-- Content
            ============================================= -->
    <section id="content">

        <div class="content-wrap nopadding">
            {% block content %}
            {% endblock %}
        </div>

    </section><!-- #content end -->


<!-- Go To Top ============================================= -->
<div id="gotoTop" class="icon-angle-up"></div>

<!-- External JavaScripts ============================================= -->
<script type="text/javascript" src="js/jquery.js"></script>
<script type="text/javascript" src="js/plugins.js"></script>

<!-- Bootstrap Select Plugin -->
<script type="text/javascript" src="js/components/bs-select.js"></script>
<!-- Select Splitter Plugin -->
<script type="text/javascript" src="js/components/selectsplitter.js"></script>

<!-- Bootstrap Switch Plugin -->
<script type="text/javascript" src="js/components/bs-switches.js"></script>

<!-- Footer Scripts ============================================= -->
<script type="text/javascript" src="js/functions.js"></script>

<script type="text/javascript">

    $('.selectsplitter').selectsplitter();




</script>



<script>

    jQuery(".bt-switch").bootstrapSwitch();
</script>

    <script src="js/ckeditor/ckeditor.js"></script>

</div>
</body>
</html>