{% extends 'layout.html.twig' %}

{% block content %}

    <h1>Evènements</h1>

    <div class="container-fluid">


    <table class="table table-hover">
        <thead>
        <tr>
            <td>ID</td>
            <td>Visuel</td>
            <td>Evènement</td>
            <td>Action Modifier</td>
            <td>Action Supprimer</td>
        </tr>
        </thead>

        <tbody>
        <tr>
            <td>1</td>
            <td><img src="/web/images/photoartistes/2016/meryem.jpg" width="50px"></td>
            <td>Jazzablanca</td>
            <td><button type="submit" class="btn btn-default">Modifier</button></td>
            <td><button type="submit" class="btn btn-default">Supprimer</button></td>
        </tr>
        <tr>
            <td>2</td>
            <td><img src="/web/images/photoartistes/2016/meryem.jpg" width="50px"></td>
            <td>Nuitcasa</td>
            <td><button type="submit" class="btn btn-default">Modifier</button></td>
            <td><button type="submit" class="btn btn-default">Supprimer</button></td>
        </tr>
        </tbody>

        <tfoot></tfoot>
    </table>

    </div>

{% endblock %}