{% extends 'layout.html.twig' %}

{% block content %}

    <h1>Artistes</h1>
    <div class="container-fluid">


    <table class="table table-hover">
        <thead>
        <tr>
            <td>ID</td>
            <td>Visuel</td>
            <td>Artiste</td>
            <td>Action Modifier</td>
            <td>Action Supprimer</td>
        </tr>
        </thead>

        <tbody>
    {% for artist in artists %}
        <tr>

            <td>{{ artist.id }}</td>
            <td><img src="/web/images/photoartistes/2016/meryem.jpg" width="50px"></td>
            <td>{{ artist.artistname }}</td>

            <td><button type="submit" name ="modif" class="btn btn-default">Modifier</button></td>

            <form method="POST" action="?page=deleteartistes">
                <input type="hidden" name="id" value="{{ artist.id }}">
            <td><button type="submit" name="delete" class="btn btn-default">Supprimer</button></td>
            </form>

        </tr>
    {% endfor %}
        </tbody>

        <tfoot></tfoot>
    </table>

    </div>

{% endblock %}